body{
	font-family: "Arial";
	font-size: 14px;
	margin: 0;
	background-image: url(../img/bg.JPG);
	background-size: 100%;
}
#atas{
	padding: 0;
	margin-top: -42px;
}
#atas h2{
	margin-bottom: auto;
	text-align: center;
	font-family: "monotype corsiva";
	font-size: 48px;
}
#atas a img{
	text-align: center;
	width: 100%;
	height: auto;
}
#menu{
	background: #232323;
	padding: 0;
	height: 60px;
	opacity: 0.3;
}
#menu .left{
	float: left;
}
#menu .left  ul li{
	display: inline-block;
	list-style-type: none;
	padding-top: 8px;
}
#menu .left ul li a{
	font-family: "Arial";
	text-decoration: none;
	color: #fff;
	padding: 20px;
}
#menu .left ul li a:hover{
	background: #489239;
}
#menu .right{
	float: right;
	padding-right: 45px;
}
#menu .right form{
	padding: 5px;
}
#isi{
	text-align: justify-all;
	width: 600px;
	background: white;
	opacity: 0.7;
	border-radius: 20px;
	margin-left: 10px;
}
#isi h2{
	padding-left: 10px;
}
#isi li{
	list-style-type: none;
	padding: 10px;
}
#isi img{
	width: 40%;
	float: right;
	padding: 7px;
	border-radius: 22px;
}
#pict .center h1{
	margin-left: 30px;
}
#pict .row1{
	width: 80%
}
#pict .row1 img{
	width: 300px;
	height: auto;
	float: left;
	padding: 10px;
	border-radius: 20px;
	opacity: 0.7;
}
#description{
	text-align: justify-all;
	width: 600px;
	background: white;
	opacity: 0.7;
	border-radius: 20px;
	margin-left: 10px;
}
#description img{
	width: 40%;
	float: right;
	padding: 7px;
	border-radius: 22px;
}
#description li{
	list-style-type: none;
	padding: 10px;
}
#description h2{
	padding-left: 10px;
}
#description2{
	text-align: justify-all;
	width: 600px;
	background: white;
	opacity: 0.7;
	border-radius: 20px;
	margin-left: 10px;
}
#description2 img{
	width: 40%;
	float: right;
	padding: 7px;
	border-radius: 22px;
}
#description2 li{
	list-style-type: none;
	padding: 10px;
}
#description2 h2{
	padding-left: 10px;
}
